body {
  background-color: rgb(25, 29, 25);
  background-image: url(./imgs/space.png);
  font-family: arial;
}
header {
  text-align: center;
  padding-top: 270px;
}

h1 {
  color: rgb(46, 49, 49);
  font-family: sans-serif;
}

div {
  text-align: center;
  padding-top: 10px;
}

section {
  background: white;
  border-radius: 10px;
  width: 350px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(11, 15, 236, 0.425);
}

#bt1,
#bt2 {
  border-radius: 5px;
}

#bt1:hover {
  background-color: rgba(11, 15, 236, 0.425);
}

#bt2:hover {
  background-color: rgba(11, 15, 236, 0.425);
}

label {
  color: red;
  font-weight: 40px;
  font-size: 14px;
}
