@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto:wght@900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(104, 109, 42);

  font-size: 30px;
  font-family: "Roboto";
}

h1 {
  padding: 20px 0;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}


p{
  position: absolute;
  top: 80%;
  right: 2.5%;
}

div{
  position: absolute;
  top: 90%;
  right: 2.5%;

}


li {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
  /* remove pontos da lista */
  list-style-type: none;
}

#voltar{
  position: absolute;
    top: 95%;
    right: 2.5%;
    
}

#btn-voltar{
  text-decoration: none; 

  background-color: rgb(100, 82, 98);

  border-radius: 5px;

  font-size: 25px;
}


.alternativas-fim, a{
    text-decoration: none;
}