body {
  background-color: rgb(25, 29, 25);
  background-image: url(space.png);
  font-family: arial;
}
header {
  padding-top: 270px;
}

h1 {
  color: rgb(199, 245, 247);
  font-family: sans-serif;
}

h1,
section {
  margin-left: 10cm;
}

div {
  text-align: center;
  padding-top: 25px;
}

section {
  background: white;
  border-radius: 10px;
  border-color: blue;
  padding: 15px;
  width: 350px;
  height: 250px;
  box-shadow: 5px 5px 10px rgba(11, 15, 236, 0.425);
  padding-top: 10px;
}

/*img{
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
    display: flex;
}
*/

label {
  color: red;
  font-family: Arial;
  font-weight: bold;
}
